body{
    background-color: #040D12; /* https://colorhunt.co/palette/040d12183d3d5c837493b1a6 color palette, use #F2F2F2 for text*/
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.source-sans-3 {
  font-family: "Source Sans 3", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#titleheading{
    text-align: center;
    color: #F2F2F2;
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    text-decoration: underline;
}
.introcard{
    text-align: center;
    font-family: "Source Sans 3", system-ui;
    color: #ffffff;
    background-color: #183D3D;    
    border: 5px outset #93B1A6;
    border-radius: 50px;
    width: 650px;
    height: 200 px;
    margin: 50px;
    padding: 15px;       
    margin-left: auto;
    margin-right: auto;
}

.wiki-link h2{
  text-align: center;
    color: #F2F2F2;
    font-family: "Source Sans 3", system-ui;
    text-decoration: underline;
}

a{
  color: #48CFCB;
}



#farfuturecard{
  text-align: center;
    font-family: "Source Sans 3", system-ui;
    color: #ffffff;
    background-color: #183D3D;    
    border: 5px outset #93B1A6;
    border-radius: 50px;
    width: 650;
    height: 700px;
    margin: 50px;
    padding: 15px;       
    margin-left: auto;
    margin-right: auto;
}

#farfutureimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  border-radius: 50px;
}
.imagecaption{
  font-size: 12px;
  padding-left: 45px;
  padding-right: 45px;
}

#paradoxescard{
  text-align: center;
    font-family: "Source Sans 3", system-ui;
    color: #ffffff;
    background-color: #183D3D;    
    border: 5px outset #93B1A6;
    border-radius: 50px;
    width: 650;
    height: 700px;
    margin: 50px;
    padding: 15px;       
    margin-left: auto;
    margin-right: auto;
}

#farfutureimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  border-radius: 50px;
}
#farfutureblurb{
  font-size: 12px;
  padding-left: 45px;
  padding-right: 45px;
}


#absowikileft{  /* yeah fix this later */ 
position: absolute;
top: 120px;
right: 1175;
width: 60px;
}

#absowikiright{ /* yeah fix this later */ 
position: absolute;
top: 120px;
right: 700;
width: 60px;
}